
.contact {
    color: black;
    background-color: white;
    text-align: center;
    padding-top: 60px;

    h1 {
        font-size: 53px;
    }
}
  
.contact_form {
    background-color: white;
    box-shadow: none;
    margin-top: 50px;
    
}

.contact_top {
    display: flex;
    justify-content: center;
    padding-left: 20px;

    label {
        padding-top: 10px;
        
    }
}

.contact_msg {
    margin-top: 20px;
    display: flex;
    justify-content: center;

}

.contact_button {
    margin-top: 10px;
}

@media (max-width:480px) {

    .contact {
        color: black;
        background-color: white;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 100px;
    
        h1 {
            font-size: 41px;
        }
    }
      

    .contact_button button {
        width: 270px;
    }
    .contact_msg  .css-d7oefi-MuiFormControl-root-MuiTextField-root .MuiInputBase-root{
        width: 270px;
        height: 150px;

    }

    .contact_top  .css-177kfcw .MuiInputBase-root{
    
        width: 90px;
    
    }

    .contact_top .css-1pbuwbx .MuiInputBase-root {
        width: 90px;

    }

    .contact_top .css-iqro2g-MuiFormControl-root-MuiTextField-root {
        margin-right: 25px;

    }

    
}
