.intro-text {
  height:auto;
}
  .intro-text {
    .text2 {
      
      margin-left: 760px;

      h2 {
        font-weight: 400;
        font-size: 22px;
      }
      span {
        font-weight: bold;
      }
    }

    h1 {
      color: black;
      font-size: 45px;
      margin: 0;
      font-weight: 400;

    }

  }

.introduction {
  display: flex;
  margin-right: 40px;
}

.ai-container {
  height: 200px;
  width: 200px;
  padding-left: 100px;
}

.db-container {
  height: 200px;
  width: 200px;
  padding-left: 100px;
  padding-top: 20px;
}

.intro-container {
  padding-left: 100px;
  padding-top: 50px;
  width: 550px;
}

.white-block {
  height: 150px;
  
}

@media (max-width: 480px ) {
  .intro-container {
    width: 400px;
    padding-left: 30px;
  }
  .white-block {
    height: 10px;
  }
  .intro-text {

    height: 900px;

    h1 {
      font-size: 41px;
    }

    .text2 {
      
      padding-left: 30px;
      padding-top: 40px;

      h2 {
        font-weight: 400;
        font-size: 18px;
      }
      span {
        font-weight: bold;
      }
    }
  }
  .introduction {
    display: block;
  }

  .ai-container {
    height: 200px;
    width: 200px;
    padding-left: 25%;
    padding-top: 40px;
  }
  
  .db-container {
    height: 200px;
    width: 200px;
    padding-left: 27%;
    padding-top: 60px;
  }
  
}