.intro-text {
  height:500px;
}
  .intro-text {
    .text2 {
      
      padding-left: 800px;

      h2 {
        font-weight: 400;
        font-size: 22px;
      }
      span {
        font-weight: bold;
      }
    }

    h1 {
      color: black;
      font-size: 53px;
      margin: 0;
      font-weight: 400;

    }

  }

.introduction {
  display: flex;
}

.ai-container {
  height: 200px;
  width: 200px;
  padding-left: 250px;
}

.db-container {
  height: 200px;
  width: 200px;
  padding-left: 100px;
  padding-top: 20px;
}

.intro-container {
  padding-left: 100px;
  padding-top: 50px;
}

.white-block {
  height: 150px;
  
}